
body {
	//background: #383838;
	overflow: hidden;
}

a{
	text-decoration: none;
}

*::-webkit-scrollbar {
	width: 8px; /* ширина scrollbar */
}

*::-webkit-scrollbar-track {
	background: transparent; /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
	background-color: #bbbbbf; /* цвет плашки */
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}
