@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: #383838;
}

*::-webkit-scrollbar {
	width: 8px; /* ширина scrollbar */
}

*::-webkit-scrollbar-track {
	background: transparent; /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
	background-color: #bbbbbf; /* цвет плашки */
}

* {
	padding: 0;
	margin: 0;
}
